
@font-face {
    font-family: 'kelson_sans_ruregular';
    src: url('../fonts/kelson_sans_regular_ru-webfont.eot');
    src: url('../fonts/kelson_sans_regular_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_regular_ru-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_regular_ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kelson_sans_rubold';
    src: url('../fonts/kelson_sans_bold_ru-webfont.eot');
    src: url('../fonts/kelson_sans_bold_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_bold_ru-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_bold_ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kelson_sans_rulight';
    src: url('../fonts/kelson_sans_light_ru-webfont.eot');
    src: url('../fonts/kelson_sans_light_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_light_ru-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_light_ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/robotoslab-bold-webfont.eot');
    src: url('../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-bold-webfont.woff') format('woff'),
         url('../fonts/robotoslab-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slablight';
    src: url('../fonts/robotoslab-light-webfont.eot');
    src: url('../fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-light-webfont.woff') format('woff'),
         url('../fonts/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab-regular-webfont.eot');
    src: url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
