$alert_x = 239px;
$alert_y = 23px;
$alert_offset_x = -239px;
$alert_offset_y = -23px;
$alert_width = 21px;
$alert_height = 22px;
$alert_total_width = 282px;
$alert_total_height = 210px;
$alert_image = '../img/sprite.png';
$alert = 239px 23px -239px -23px 21px 22px 282px 210px '../img/sprite.png';
$arrow-up_x = 153px;
$arrow-up_y = 98px;
$arrow-up_offset_x = -153px;
$arrow-up_offset_y = -98px;
$arrow-up_width = 11px;
$arrow-up_height = 24px;
$arrow-up_total_width = 282px;
$arrow-up_total_height = 210px;
$arrow-up_image = '../img/sprite.png';
$arrow-up = 153px 98px -153px -98px 11px 24px 282px 210px '../img/sprite.png';
$basket-arrow_x = 268px;
$basket-arrow_y = 89px;
$basket-arrow_offset_x = -268px;
$basket-arrow_offset_y = -89px;
$basket-arrow_width = 9px;
$basket-arrow_height = 15px;
$basket-arrow_total_width = 282px;
$basket-arrow_total_height = 210px;
$basket-arrow_image = '../img/sprite.png';
$basket-arrow = 268px 89px -268px -89px 9px 15px 282px 210px '../img/sprite.png';
$basket_x = 217px;
$basket_y = 23px;
$basket_offset_x = -217px;
$basket_offset_y = -23px;
$basket_width = 21px;
$basket_height = 22px;
$basket_total_width = 282px;
$basket_total_height = 210px;
$basket_image = '../img/sprite.png';
$basket = 217px 23px -217px -23px 21px 22px 282px 210px '../img/sprite.png';
$book_x = 115px;
$book_y = 125px;
$book_offset_x = -115px;
$book_offset_y = -125px;
$book_width = 36px;
$book_height = 41px;
$book_total_width = 282px;
$book_total_height = 210px;
$book_image = '../img/sprite.png';
$book = 115px 125px -115px -125px 36px 41px 282px 210px '../img/sprite.png';
$busket-close_x = 243px;
$busket-close_y = 141px;
$busket-close_offset_x = -243px;
$busket-close_offset_y = -141px;
$busket-close_width = 10px;
$busket-close_height = 10px;
$busket-close_total_width = 282px;
$busket-close_total_height = 210px;
$busket-close_image = '../img/sprite.png';
$busket-close = 243px 141px -243px -141px 10px 10px 282px 210px '../img/sprite.png';
$card_x = 48px;
$card_y = 125px;
$card_offset_x = -48px;
$card_offset_y = -125px;
$card_width = 66px;
$card_height = 45px;
$card_total_width = 282px;
$card_total_height = 210px;
$card_image = '../img/sprite.png';
$card = 48px 125px -48px -125px 66px 45px 282px 210px '../img/sprite.png';
$checkbox_checked_x = 256px;
$checkbox_checked_y = 68px;
$checkbox_checked_offset_x = -256px;
$checkbox_checked_offset_y = -68px;
$checkbox_checked_width = 18px;
$checkbox_checked_height = 20px;
$checkbox_checked_total_width = 282px;
$checkbox_checked_total_height = 210px;
$checkbox_checked_image = '../img/sprite.png';
$checkbox_checked = 256px 68px -256px -68px 18px 20px 282px 210px '../img/sprite.png';
$checkbox_unchecked_x = 237px;
$checkbox_unchecked_y = 68px;
$checkbox_unchecked_offset_x = -237px;
$checkbox_unchecked_offset_y = -68px;
$checkbox_unchecked_width = 18px;
$checkbox_unchecked_height = 20px;
$checkbox_unchecked_total_width = 282px;
$checkbox_unchecked_total_height = 210px;
$checkbox_unchecked_image = '../img/sprite.png';
$checkbox_unchecked = 237px 68px -237px -68px 18px 20px 282px 210px '../img/sprite.png';
$delivery_x = 0px;
$delivery_y = 69px;
$delivery_offset_x = 0px;
$delivery_offset_y = -69px;
$delivery_width = 65px;
$delivery_height = 55px;
$delivery_total_width = 282px;
$delivery_total_height = 210px;
$delivery_image = '../img/sprite.png';
$delivery = 0px 69px 0px -69px 65px 55px 282px 210px '../img/sprite.png';
$dots-black_x = 217px;
$dots-black_y = 164px;
$dots-black_offset_x = -217px;
$dots-black_offset_y = -164px;
$dots-black_width = 22px;
$dots-black_height = 5px;
$dots-black_total_width = 282px;
$dots-black_total_height = 210px;
$dots-black_image = '../img/sprite.png';
$dots-black = 217px 164px -217px -164px 22px 5px 282px 210px '../img/sprite.png';
$dots_x = 240px;
$dots_y = 164px;
$dots_offset_x = -240px;
$dots_offset_y = -164px;
$dots_width = 22px;
$dots_height = 5px;
$dots_total_width = 282px;
$dots_total_height = 210px;
$dots_image = '../img/sprite.png';
$dots = 240px 164px -240px -164px 22px 5px 282px 210px '../img/sprite.png';
$dropdown-list-arrow-down_x = 217px;
$dropdown-list-arrow-down_y = 156px;
$dropdown-list-arrow-down_offset_x = -217px;
$dropdown-list-arrow-down_offset_y = -156px;
$dropdown-list-arrow-down_width = 11px;
$dropdown-list-arrow-down_height = 7px;
$dropdown-list-arrow-down_total_width = 282px;
$dropdown-list-arrow-down_total_height = 210px;
$dropdown-list-arrow-down_image = '../img/sprite.png';
$dropdown-list-arrow-down = 217px 156px -217px -156px 11px 7px 282px 210px '../img/sprite.png';
$exclamation_x = 217px;
$exclamation_y = 46px;
$exclamation_offset_x = -217px;
$exclamation_offset_y = -46px;
$exclamation_width = 18px;
$exclamation_height = 21px;
$exclamation_total_width = 282px;
$exclamation_total_height = 210px;
$exclamation_image = '../img/sprite.png';
$exclamation = 217px 46px -217px -46px 18px 21px 282px 210px '../img/sprite.png';
$exlusive_x = 0px;
$exlusive_y = 174px;
$exlusive_offset_x = 0px;
$exlusive_offset_y = -174px;
$exlusive_width = 36px;
$exlusive_height = 36px;
$exlusive_total_width = 282px;
$exlusive_total_height = 210px;
$exlusive_image = '../img/sprite.png';
$exlusive = 0px 174px 0px -174px 36px 36px 282px 210px '../img/sprite.png';
$expose_x = 254px;
$expose_y = 125px;
$expose_offset_x = -254px;
$expose_offset_y = -125px;
$expose_width = 22px;
$expose_height = 15px;
$expose_total_width = 282px;
$expose_total_height = 210px;
$expose_image = '../img/sprite.png';
$expose = 254px 125px -254px -125px 22px 15px 282px 210px '../img/sprite.png';
$eye_x = 217px;
$eye_y = 141px;
$eye_offset_x = -217px;
$eye_offset_y = -141px;
$eye_width = 25px;
$eye_height = 14px;
$eye_total_width = 282px;
$eye_total_height = 210px;
$eye_image = '../img/sprite.png';
$eye = 217px 141px -217px -141px 25px 14px 282px 210px '../img/sprite.png';
$fb_x = 127px;
$fb_y = 98px;
$fb_offset_x = -127px;
$fb_offset_y = -98px;
$fb_width = 25px;
$fb_height = 24px;
$fb_total_width = 282px;
$fb_total_height = 210px;
$fb_image = '../img/sprite.png';
$fb = 127px 98px -127px -98px 25px 24px 282px 210px '../img/sprite.png';
$filter-block-arrow-down_x = 252px;
$filter-block-arrow-down_y = 156px;
$filter-block-arrow-down_offset_x = -252px;
$filter-block-arrow-down_offset_y = -156px;
$filter-block-arrow-down_width = 11px;
$filter-block-arrow-down_height = 6px;
$filter-block-arrow-down_total_width = 282px;
$filter-block-arrow-down_total_height = 210px;
$filter-block-arrow-down_image = '../img/sprite.png';
$filter-block-arrow-down = 252px 156px -252px -156px 11px 6px 282px 210px '../img/sprite.png';
$filter-block-arrow-right_x = 275px;
$filter-block-arrow-right_y = 68px;
$filter-block-arrow-right_offset_x = -275px;
$filter-block-arrow-right_offset_y = -68px;
$filter-block-arrow-right_width = 6px;
$filter-block-arrow-right_height = 11px;
$filter-block-arrow-right_total_width = 282px;
$filter-block-arrow-right_total_height = 210px;
$filter-block-arrow-right_image = '../img/sprite.png';
$filter-block-arrow-right = 275px 68px -275px -68px 6px 11px 282px 210px '../img/sprite.png';
$filter-reset_x = 257px;
$filter-reset_y = 107px;
$filter-reset_offset_x = -257px;
$filter-reset_offset_y = -107px;
$filter-reset_width = 18px;
$filter-reset_height = 16px;
$filter-reset_total_width = 282px;
$filter-reset_total_height = 210px;
$filter-reset_image = '../img/sprite.png';
$filter-reset = 257px 107px -257px -107px 18px 16px 282px 210px '../img/sprite.png';
$greenball_x = 37px;
$greenball_y = 174px;
$greenball_offset_x = -37px;
$greenball_offset_y = -174px;
$greenball_width = 36px;
$greenball_height = 36px;
$greenball_total_width = 282px;
$greenball_total_height = 210px;
$greenball_image = '../img/sprite.png';
$greenball = 37px 174px -37px -174px 36px 36px 282px 210px '../img/sprite.png';
$header-user_x = 217px;
$header-user_y = 89px;
$header-user_offset_x = -217px;
$header-user_offset_y = -89px;
$header-user_width = 18px;
$header-user_height = 17px;
$header-user_total_width = 282px;
$header-user_total_height = 210px;
$header-user_image = '../img/sprite.png';
$header-user = 217px 89px -217px -89px 18px 17px 282px 210px '../img/sprite.png';
$like_x = 236px;
$like_y = 89px;
$like_offset_x = -236px;
$like_offset_y = -89px;
$like_width = 14px;
$like_height = 17px;
$like_total_width = 282px;
$like_total_height = 210px;
$like_image = '../img/sprite.png';
$like = 236px 89px -236px -89px 14px 17px 282px 210px '../img/sprite.png';
$login-facebook_x = 127px;
$login-facebook_y = 49px;
$login-facebook_offset_x = -127px;
$login-facebook_offset_y = -49px;
$login-facebook_width = 48px;
$login-facebook_height = 48px;
$login-facebook_total_width = 282px;
$login-facebook_total_height = 210px;
$login-facebook_image = '../img/sprite.png';
$login-facebook = 127px 49px -127px -49px 48px 48px 282px 210px '../img/sprite.png';
$login-twitter_x = 0px;
$login-twitter_y = 125px;
$login-twitter_offset_x = 0px;
$login-twitter_offset_y = -125px;
$login-twitter_width = 47px;
$login-twitter_height = 48px;
$login-twitter_total_width = 282px;
$login-twitter_total_height = 210px;
$login-twitter_image = '../img/sprite.png';
$login-twitter = 0px 125px 0px -125px 47px 48px 282px 210px '../img/sprite.png';
$login-vk_x = 127px;
$login-vk_y = 0px;
$login-vk_offset_x = -127px;
$login-vk_offset_y = 0px;
$login-vk_width = 48px;
$login-vk_height = 48px;
$login-vk_total_width = 282px;
$login-vk_total_height = 210px;
$login-vk_image = '../img/sprite.png';
$login-vk = 127px 0px -127px 0px 48px 48px 282px 210px '../img/sprite.png';
$modal-close_x = 238px;
$modal-close_y = 107px;
$modal-close_offset_x = -238px;
$modal-close_offset_y = -107px;
$modal-close_width = 18px;
$modal-close_height = 16px;
$modal-close_total_width = 282px;
$modal-close_total_height = 210px;
$modal-close_image = '../img/sprite.png';
$modal-close = 238px 107px -238px -107px 18px 16px 282px 210px '../img/sprite.png';
$nav-arrow-down_x = 270px;
$nav-arrow-down_y = 141px;
$nav-arrow-down_offset_x = -270px;
$nav-arrow-down_offset_y = -141px;
$nav-arrow-down_width = 11px;
$nav-arrow-down_height = 7px;
$nav-arrow-down_total_width = 282px;
$nav-arrow-down_total_height = 210px;
$nav-arrow-down_image = '../img/sprite.png';
$nav-arrow-down = 270px 141px -270px -141px 11px 7px 282px 210px '../img/sprite.png';
$nav-arrow-up_x = 229px;
$nav-arrow-up_y = 156px;
$nav-arrow-up_offset_x = -229px;
$nav-arrow-up_offset_y = -156px;
$nav-arrow-up_width = 11px;
$nav-arrow-up_height = 7px;
$nav-arrow-up_total_width = 282px;
$nav-arrow-up_total_height = 210px;
$nav-arrow-up_image = '../img/sprite.png';
$nav-arrow-up = 229px 156px -229px -156px 11px 7px 282px 210px '../img/sprite.png';
$news-pagination-arrow-left_x = 176px;
$news-pagination-arrow-left_y = 82px;
$news-pagination-arrow-left_offset_x = -176px;
$news-pagination-arrow-left_offset_y = -82px;
$news-pagination-arrow-left_width = 21px;
$news-pagination-arrow-left_height = 39px;
$news-pagination-arrow-left_total_width = 282px;
$news-pagination-arrow-left_total_height = 210px;
$news-pagination-arrow-left_image = '../img/sprite.png';
$news-pagination-arrow-left = 176px 82px -176px -82px 21px 39px 282px 210px '../img/sprite.png';
$news-pagination-arrow-right_x = 176px;
$news-pagination-arrow-right_y = 122px;
$news-pagination-arrow-right_offset_x = -176px;
$news-pagination-arrow-right_offset_y = -122px;
$news-pagination-arrow-right_width = 21px;
$news-pagination-arrow-right_height = 39px;
$news-pagination-arrow-right_total_width = 282px;
$news-pagination-arrow-right_total_height = 210px;
$news-pagination-arrow-right_image = '../img/sprite.png';
$news-pagination-arrow-right = 176px 122px -176px -122px 21px 39px 282px 210px '../img/sprite.png';
$percent_x = 239px;
$percent_y = 125px;
$percent_offset_x = -239px;
$percent_offset_y = -125px;
$percent_width = 14px;
$percent_height = 15px;
$percent_total_width = 282px;
$percent_total_height = 210px;
$percent_image = '../img/sprite.png';
$percent = 239px 125px -239px -125px 14px 15px 282px 210px '../img/sprite.png';
$post-phone_x = 66px;
$post-phone_y = 69px;
$post-phone_offset_x = -66px;
$post-phone_offset_y = -69px;
$post-phone_width = 51px;
$post-phone_height = 52px;
$post-phone_total_width = 282px;
$post-phone_total_height = 210px;
$post-phone_image = '../img/sprite.png';
$post-phone = 66px 69px -66px -69px 51px 52px 282px 210px '../img/sprite.png';
$postman_x = 66px;
$postman_y = 0px;
$postman_offset_x = -66px;
$postman_offset_y = 0px;
$postman_width = 60px;
$postman_height = 61px;
$postman_total_width = 282px;
$postman_total_height = 210px;
$postman_image = '../img/sprite.png';
$postman = 66px 0px -66px 0px 60px 61px 282px 210px '../img/sprite.png';
$product-flag_x = 152px;
$product-flag_y = 125px;
$product-flag_offset_x = -152px;
$product-flag_offset_y = -125px;
$product-flag_width = 20px;
$product-flag_height = 23px;
$product-flag_total_width = 282px;
$product-flag_total_height = 210px;
$product-flag_image = '../img/sprite.png';
$product-flag = 152px 125px -152px -125px 20px 23px 282px 210px '../img/sprite.png';
$product-instock_x = 217px;
$product-instock_y = 107px;
$product-instock_offset_x = -217px;
$product-instock_offset_y = -107px;
$product-instock_width = 20px;
$product-instock_height = 17px;
$product-instock_total_width = 282px;
$product-instock_total_height = 210px;
$product-instock_image = '../img/sprite.png';
$product-instock = 217px 107px -217px -107px 20px 17px 282px 210px '../img/sprite.png';
$product-price-arrow-down_x = 254px;
$product-price-arrow-down_y = 141px;
$product-price-arrow-down_offset_x = -254px;
$product-price-arrow-down_offset_y = -141px;
$product-price-arrow-down_width = 15px;
$product-price-arrow-down_height = 10px;
$product-price-arrow-down_total_width = 282px;
$product-price-arrow-down_total_height = 210px;
$product-price-arrow-down_image = '../img/sprite.png';
$product-price-arrow-down = 254px 141px -254px -141px 15px 10px 282px 210px '../img/sprite.png';
$product-slider-arrow-left_x = 138px;
$product-slider-arrow-left_y = 174px;
$product-slider-arrow-left_offset_x = -138px;
$product-slider-arrow-left_offset_y = -174px;
$product-slider-arrow-left_width = 28px;
$product-slider-arrow-left_height = 28px;
$product-slider-arrow-left_total_width = 282px;
$product-slider-arrow-left_total_height = 210px;
$product-slider-arrow-left_image = '../img/sprite.png';
$product-slider-arrow-left = 138px 174px -138px -174px 28px 28px 282px 210px '../img/sprite.png';
$product-slider-arrow-right_x = 109px;
$product-slider-arrow-right_y = 174px;
$product-slider-arrow-right_offset_x = -109px;
$product-slider-arrow-right_offset_y = -174px;
$product-slider-arrow-right_width = 28px;
$product-slider-arrow-right_height = 28px;
$product-slider-arrow-right_total_width = 282px;
$product-slider-arrow-right_total_height = 210px;
$product-slider-arrow-right_image = '../img/sprite.png';
$product-slider-arrow-right = 109px 174px -109px -174px 28px 28px 282px 210px '../img/sprite.png';
$product-warranty_x = 257px;
$product-warranty_y = 46px;
$product-warranty_offset_x = -257px;
$product-warranty_offset_y = -46px;
$product-warranty_width = 20px;
$product-warranty_height = 20px;
$product-warranty_total_width = 282px;
$product-warranty_total_height = 210px;
$product-warranty_image = '../img/sprite.png';
$product-warranty = 257px 46px -257px -46px 20px 20px 282px 210px '../img/sprite.png';
$product-zoom_x = 261px;
$product-zoom_y = 23px;
$product-zoom_offset_x = -261px;
$product-zoom_offset_y = -23px;
$product-zoom_width = 21px;
$product-zoom_height = 21px;
$product-zoom_total_width = 282px;
$product-zoom_total_height = 210px;
$product-zoom_image = '../img/sprite.png';
$product-zoom = 261px 23px -261px -23px 21px 21px 282px 210px '../img/sprite.png';
$sidebar-menu-arrow_x = 264px;
$sidebar-menu-arrow_y = 156px;
$sidebar-menu-arrow_offset_x = -264px;
$sidebar-menu-arrow_offset_y = -156px;
$sidebar-menu-arrow_width = 11px;
$sidebar-menu-arrow_height = 6px;
$sidebar-menu-arrow_total_width = 282px;
$sidebar-menu-arrow_total_height = 210px;
$sidebar-menu-arrow_image = '../img/sprite.png';
$sidebar-menu-arrow = 264px 156px -264px -156px 11px 6px 282px 210px '../img/sprite.png';
$similar-slider-arrow-left_x = 176px;
$similar-slider-arrow-left_y = 0px;
$similar-slider-arrow-left_offset_x = -176px;
$similar-slider-arrow-left_offset_y = 0px;
$similar-slider-arrow-left_width = 40px;
$similar-slider-arrow-left_height = 40px;
$similar-slider-arrow-left_total_width = 282px;
$similar-slider-arrow-left_total_height = 210px;
$similar-slider-arrow-left_image = '../img/sprite.png';
$similar-slider-arrow-left = 176px 0px -176px 0px 40px 40px 282px 210px '../img/sprite.png';
$similar-slider-arrow-right_x = 176px;
$similar-slider-arrow-right_y = 41px;
$similar-slider-arrow-right_offset_x = -176px;
$similar-slider-arrow-right_offset_y = -41px;
$similar-slider-arrow-right_width = 40px;
$similar-slider-arrow-right_height = 40px;
$similar-slider-arrow-right_total_width = 282px;
$similar-slider-arrow-right_total_height = 210px;
$similar-slider-arrow-right_image = '../img/sprite.png';
$similar-slider-arrow-right = 176px 41px -176px -41px 40px 40px 282px 210px '../img/sprite.png';
$slider-arrow-left_x = 198px;
$slider-arrow-left_y = 82px;
$slider-arrow-left_offset_x = -198px;
$slider-arrow-left_offset_y = -82px;
$slider-arrow-left_width = 17px;
$slider-arrow-left_height = 33px;
$slider-arrow-left_total_width = 282px;
$slider-arrow-left_total_height = 210px;
$slider-arrow-left_image = '../img/sprite.png';
$slider-arrow-left = 198px 82px -198px -82px 17px 33px 282px 210px '../img/sprite.png';
$slider-arrow-right_x = 198px;
$slider-arrow-right_y = 122px;
$slider-arrow-right_offset_x = -198px;
$slider-arrow-right_offset_y = -122px;
$slider-arrow-right_width = 17px;
$slider-arrow-right_height = 33px;
$slider-arrow-right_total_width = 282px;
$slider-arrow-right_total_height = 210px;
$slider-arrow-right_image = '../img/sprite.png';
$slider-arrow-right = 198px 122px -198px -122px 17px 33px 282px 210px '../img/sprite.png';
$slider-handle_x = 217px;
$slider-handle_y = 68px;
$slider-handle_offset_x = -217px;
$slider-handle_offset_y = -68px;
$slider-handle_width = 19px;
$slider-handle_height = 20px;
$slider-handle_total_width = 282px;
$slider-handle_total_height = 210px;
$slider-handle_image = '../img/sprite.png';
$slider-handle = 217px 68px -217px -68px 19px 20px 282px 210px '../img/sprite.png';
$star_x = 251px;
$star_y = 89px;
$star_offset_x = -251px;
$star_offset_y = -89px;
$star_width = 16px;
$star_height = 17px;
$star_total_width = 282px;
$star_total_height = 210px;
$star_image = '../img/sprite.png';
$star = 251px 89px -251px -89px 16px 17px 282px 210px '../img/sprite.png';
$tags_x = 217px;
$tags_y = 125px;
$tags_offset_x = -217px;
$tags_offset_y = -125px;
$tags_width = 21px;
$tags_height = 15px;
$tags_total_width = 282px;
$tags_total_height = 210px;
$tags_image = '../img/sprite.png';
$tags = 217px 125px -217px -125px 21px 15px 282px 210px '../img/sprite.png';
$time_x = 236px;
$time_y = 46px;
$time_offset_x = -236px;
$time_offset_y = -46px;
$time_width = 20px;
$time_height = 20px;
$time_total_width = 282px;
$time_total_height = 210px;
$time_image = '../img/sprite.png';
$time = 236px 46px -236px -46px 20px 20px 282px 210px '../img/sprite.png';
$tools_x = 74px;
$tools_y = 174px;
$tools_offset_x = -74px;
$tools_offset_y = -174px;
$tools_width = 34px;
$tools_height = 31px;
$tools_total_width = 282px;
$tools_total_height = 210px;
$tools_image = '../img/sprite.png';
$tools = 74px 174px -74px -174px 34px 31px 282px 210px '../img/sprite.png';
$truck_x = 217px;
$truck_y = 0px;
$truck_offset_x = -217px;
$truck_offset_y = 0px;
$truck_width = 65px;
$truck_height = 22px;
$truck_total_width = 282px;
$truck_total_height = 210px;
$truck_image = '../img/sprite.png';
$truck = 217px 0px -217px 0px 65px 22px 282px 210px '../img/sprite.png';
$tw_x = 192px;
$tw_y = 174px;
$tw_offset_x = -192px;
$tw_offset_y = -174px;
$tw_width = 24px;
$tw_height = 24px;
$tw_total_width = 282px;
$tw_total_height = 210px;
$tw_image = '../img/sprite.png';
$tw = 192px 174px -192px -174px 24px 24px 282px 210px '../img/sprite.png';
$user-arrow-down_x = 241px;
$user-arrow-down_y = 156px;
$user-arrow-down_offset_x = -241px;
$user-arrow-down_offset_y = -156px;
$user-arrow-down_width = 10px;
$user-arrow-down_height = 6px;
$user-arrow-down_total_width = 282px;
$user-arrow-down_total_height = 210px;
$user-arrow-down_image = '../img/sprite.png';
$user-arrow-down = 241px 156px -241px -156px 10px 6px 282px 210px '../img/sprite.png';
$vk_x = 167px;
$vk_y = 174px;
$vk_offset_x = -167px;
$vk_offset_y = -174px;
$vk_width = 24px;
$vk_height = 24px;
$vk_total_width = 282px;
$vk_total_height = 210px;
$vk_image = '../img/sprite.png';
$vk = 167px 174px -167px -174px 24px 24px 282px 210px '../img/sprite.png';
$wallet_x = 0px;
$wallet_y = 0px;
$wallet_offset_x = 0px;
$wallet_offset_y = 0px;
$wallet_width = 65px;
$wallet_height = 68px;
$wallet_total_width = 282px;
$wallet_total_height = 210px;
$wallet_image = '../img/sprite.png';
$wallet = 0px 0px 0px 0px 65px 68px 282px 210px '../img/sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
