// Reset
@import "normalize"

// Base styles
@import "base/grid"
@import "base/fonts"
@import "base/icons"
@import "base/base"
@import "base/polygon"

// Project styles
@import "project/*"

@import "plugins/jquery.bxslider"
@import "plugins/jquery-ui.styl"
@import "plugins/jquery.fancybox"
