footer.page_footer
  div.container

    div.footer_item
      div.footer_logo
        a(href="/", title="Billiard")
          img(src="img/billiard-logo.png")
      hr.hr
      div.footer_list
        ul
          li 8 800
            span.text-bold  123-45-67,
          li 8 (495)
            span.text-bold  685-77-20
          li
            a(href="#") Перезвоните мне!
          li
            a(href="#") Наши магазины
          li
            a(href="#") hello@billard.ru
          li Мы в социальных сетях:
            div.footer_social
              a(href="#").vk
              a(href="#").fb
              a(href="#").tw

    div.footer_item
      div.title
        span.text-bold Все для бильярда
      div.footer_list
        ul
          li
            a(href='#') Бильярдные столы
          li
            a(href='#') Бильярдные кии
          li
            a(href='#') Бильярдные шары
          li
            a(href='#') Аксессуары для бильярда
          li
            a(href='#') Аксессуары для киёв
          li
            a(href='#') Мебель для бильярдной

    div.footer_item
      div.title
        span.text-bold Эксклюзив
      div.footer_list.mb
        ul
          li
            a(href='#') Эксклюзивные столы
          li
            a(href='#') Эксклюзивные кии
          li
            a(href='#') Интерьерные проекты

      div.title
        span.text-bold Услуги компании
      div.footer_list
        ul
          li
            a(href='#') Сборка и доставка столов
          li
            a(href='#') Реставрация и ремонт столов
          li
            a(href='#') Ремонт киев

    div.footer_item
      div.title
        span.text-bold Покупателям
      div.footer_list.mb
        ul
          li
            a(href='#') Акции
          li
            a(href='#') О компании
          li
            a(href='#') Новости
          li
            a(href='#') Доставка и оплата
          li
            a(href='#') Вопросы и ответы

      div.footer_devart Сайт разработан и поддерживается в<br> агентстве <a href='www.devart.pro' target="_blank">Devart</a>