header.page_header(role="banner")
    div.container
        div.header-left
            div.header_logo
                a(href="/")
                    img(src='img/billiard-logo.png')
            hr.hr
            div.header_company
                ul
                    li.dropdown
                        a(href="#")
                            span.text-bold О компании
                        span.icon-dots
                        div.header_company_dropdown.dropdown_block
                            ul.dropdown_menu
                                li
                                    a(href="#") Доставка и оплата
                                li
                                    a(href="#") Контакты
                                li
                                    a(href="#") История компании
                                li
                                    a(href="#") Вакансии
                    li.address.dropdown
                        a(href="#") Нижняя Масловка, 6
                        div.address_dropdown.dropdown_block
                            ul.dropdown_menu
                                li Нижняя Масловка, 6
                                li +7 (495) 685-19-19
                                li
                                    a(href="#") Подробнее о магазине
                    li.address.dropdown
                        a(href="#") ТЦ «Румянцево»
                        div.address_dropdown.dropdown_block
                            ul.dropdown_menu
                                li ТЦ «Румянцево»
                                li +7 (495) 685-19-19
                                li
                                    a(href="#") Подробнее о магазине

        div.header-right
            div.header_row
                div.header_info
                    span.title 8 (800) <span class="bold">123-45-67</span>
                    |Бесплатный звонок с территории России

                div.header_info
                    span.title 8 (495) <span class="bold">685-77-20</span>
                    |мы ждем звонка с 10:00 до 22:00

                div.header_callback
                    span.title
                        a(href="#recall", data-type="modal" data-target="#recall") <span class="bold">перезвоните мне</span>
                    |Оставьте телефон и наш менеджер перезвонит вам!

                div.header_login
                  a(href="#").header_login_enter Войти на сайт
                  div.header_login_enter_block
                    form#login_block
                      input(type='text', placeholder='Логин')
                      input(type='password', placeholder='Пароль')
                      a(href='#').header_pass_forgot Я забыл пароль
                      button(type='submit') Войти
                    form#pass_block
                      span.title Укажите ваш e-mail, куда мы отправим новый пароль
                      input(type="email", placeholder="E-mail")
                      button(type='submit') Восстановить
                      a(href='#').header_pass_forgot Я вспомнил пароль

                  a(href="#user").header_login_registration Зарегистрироваться

            div.header_row
                nav.header_nav
                    ul
                        li.header_nav_item.dropdown
                            a(href="#") Каталог
                                span.icon-header-arrow
                            div.header_dropdown.dropdown_block
                                div.dropdown_title
                                    span Эксклюзив:
                                ul.dropdown_menu
                                    li
                                        a(href='#') Эксклюзивные столы
                                    li
                                        a(href='#') Эксклюзивные кии
                                    li
                                        a(href='#') Бильярдные коллекции
                                    li
                                        a(href='#') Интерьерные проекты

                                div.dropdown_title
                                    span Все для игры в бильярд:
                                ul.dropdown_menu
                                    li.dropdown
                                        a(href="#") Бильярдные столы
                                        div.header_dropdown.dropdown_block.level_2
                                            ul.dropdown_menu
                                                li
                                                    a(href="#") Американский пул
                                                li
                                                    a(href="#") Английский снукер
                                                li
                                                    a(href="#") Русская пирамида
                                    li
                                        a(href="#") Бильярдные кии
                                    li
                                        a(href="#") Бильярдные шары
                                    li
                                        a(href="#") Аксессуары для бильярда
                                    li
                                        a(href="#") Аксессуары для киёв
                                    li
                                        a(href="#") Мебель для бильярдной
                        li.header_nav_item.dropdown
                            a(href="#") Услуги
                                span.icon-header-arrow
                        li.header_nav_item.dropdown
                            a(href="#") Статьи
                        li.header_nav_item.dropdown
                            a(href="#") Помощь
                        li.header_nav_item.dropdown
                            a(href="#") Акции

                div.header_busket.dropdown
                    a(href="#")
                        span.icon-header-basket
                        |В корзине
                        span.header_busket_circle
                            span.header_busket_value
                            span.icon-basket-arrow
                    div.header_busket_dropdown-i
                        div.header_busket_dropdown.dropdown_block
                            div.header_busket_dropdown_title
                                span.header_busket_items_num <span class="value">2</span> товара
                                span.header_busket_items_sum На сумму <span class="text-bold">146 700</span> рублей:
                            ul.header_busket_list
                                li.header_busket_item
                                    div.busket_item_close
                                        span.icon-busket-close
                                    div.busket_item_img
                                        a(href="#")
                                            img(src="img/table_1.jpg")
                                    div.busket_item_info
                                        div.title
                                            a(href="#") Стол бильярдный «Classic II» 12 снукер
                                        div.price
                                            span.price_value 145 000
                                            |рублей 1 шт

                                li.header_busket_item
                                    div.busket_item_close
                                        span.icon-busket-close
                                    div.busket_item_img
                                        a(href="#")
                                            img(src="img/table_1.jpg")
                                    div.busket_item_info
                                        div.title
                                            a(href="#") Стол бильярдный «Classic II» 12 снукер
                                        div.price
                                            span.price_value 145 000
                                            |рублей 1 шт

