div#recall.page_recall
  div.modal_header
    div.modal_close
      span.icon-modal-close
    h2 Перезвоните мне
  div.modal_body
    div.modal_body_i
      input(type="text", placeholder="Ваше Имя")
      input(type="text", placeholder="Контактный номер")
  div.modal_footer
    div.modal_footer_i
      button(type="submit").modal_footer_btn.btn Перезвоните мне

