aside.page_sidebar-left

  div.sidebar_menu.dropdown
    span.sidebar_menu_title Каталог товаров
      span.icon
    div.sidebar_menu_dropdown-i
      div.sidebar_menu_dropdown.dropdown_block
          div.dropdown_title
              span Эксклюзив:
          ul.dropdown_menu
              li
                  a(href='#') Эксклюзивные столы
              li
                  a(href='#') Эксклюзивные кии
              li
                  a(href='#') Бильярдные коллекции
              li
                  a(href='#') Интерьерные проекты

          div.dropdown_title
              span Все для игры<br>в бильярд:
          ul.dropdown_menu
              li
                  a(href="#") Бильярдные столы
              li
                  a(href="#") Бильярдные кии
              li
                  a(href="#") Бильярдные шары
              li
                  a(href="#") Аксессуары для бильярда
              li
                  a(href="#") Аксессуары для киёв
              li
                  a(href="#") Мебель для бильярдной

  form#sidebar_filter

    div.sidebar_filter
      div.sidebar_filter_header Бильярдные столы
      div.sidebar_filter_menu
        ul
          li
            a(href="#") Американский пул
            span.sidebar_filter_menu_quan 231
          li
            a(href='#') Английский снукер
            span.sidebar_filter_menu_quan 71
          li
            a(href='#') Русская пирамида
            span.sidebar_filter_menu_quan 59
      div.sidebar_filter_instock
        label
          |В наличии
          input(type="checkbox", id="inStock")
          span.sidebar_filter_menu_quan 59

    div.sidebar_filter
        div.sidebar_filter_header Цена
          span.gray в руб.
        div.sidebar_filter_price_field
          input(type="text", id="minPrice", placeholder="47 300")
          |-
          input(type="text", id="maxPrice", placeholder="80 000")
        div.sidebar_filter_price_range
          div#filter-slider
          input(type="range")
          ul.sidebar_filter_price_range_list
            li 43 000
            li 60 000
            li 102 000

    div.sidebar_filter
      div.sidebar_filter_header Поиск
        span.gray по товарам

      div.sidebar_filter_block
        div.sidebar_filter_block_header
          span.icon
          span.sidebar_filter_block_header_title Бренд
        fieldset
          label
            |Porter Billiards
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |Пирамида-26
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |Фабрика «Старт»
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |Пирамида-32
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59

      div.sidebar_filter_block
        div.sidebar_filter_block_header
          span.icon
          span.sidebar_filter_block_header_title Размер стола
        fieldset
          label
            |12" 7,0 х 5,3м
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |10" 6,3 х 4,9м
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |9" 6,0 х 4,8м
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59
          label
            |8" 5,7 х 4,6м
            input(type="checkbox")
            span.sidebar_filter_menu_quan 59

      span.sidebar_filter_attention По вашему запросу мы нашли
        a(href="#")  315 товаров

      a(href="#").sidebar_filter_reset
        span.icon-filter-reset
        span.title Сбросить фильтры

  div.sidebar_discount_block
    div.sidebar_discount-i
      div.sidebar_discount_title Скидка 20%
      div.sidebar_discount_text На бильярдные столы «Русская пирамида» только до конца 2013 года! Успей купить!
      div.sidebar_discount_button
        a(href="#") подробнее
