aside.page_sidebar-left

    div.sidebar_block
      div.sidebar_block_header
        span.icon.icon-exlusive
        span.title Эксклюзив
      div.sidebar_block_menu
        ul
          li
            a(href="#") Эксклюзивные столы
          li
            a(href="#") Эксклюзивные кии
          li
            a(href="#") Бильярдные коллекции
          li.active
            a(href="#") Интерьерные проекты

    div.sidebar_block
      div.sidebar_block_header
        span.icon.icon-greenball
        span.title Все для игры<br>в бильярд
      div.sidebar_block_menu
        ul
          li.dropdown
            a(href="#") Бильярдные столы
            div.sidebar_dropdown.dropdown_block
                ul.dropdown_menu
                    li
                        a(href="#") Американский пул
                    li
                        a(href="#") Английский снукер
                    li
                        a(href="#") Русская пирамида
          li
            a(href="#") Бильярдные кии
          li
            a(href="#") Бильярдные шары
          li
            a(href="#") Аксессуары для бильярда
          li
            a(href="#") Аксессуары для киёв
          li
            a(href="#") Мебель для бильярдной

    div.sidebar_block
      div.sidebar_block_header
        span.icon.icon-tools
        span.title Услуги<br>компании:
      div.sidebar_block_menu
        ul
          li
            a(href="#") Сборка и доставка столов
          li
            a(href="#") Реставрация и ремонт столов
          li
            a(href="#") Ремонт киев

    div.sidebar_block
      div.sidebar_block_header
        span.icon.icon-book
        span.title Начинающим<br>игрокам:
      div.sidebar_block_menu
        ul
          li
            a(href="#") Книги по игре в бильярд
          li
            a(href="#") Статьи
          li
            a(href="#") Другое
          li
            a(href="#") Мини-игры, игротека
          li
            a(href="#") Сувениры

    div.sidebar_news_block
      div.sidebar_news_title
        h2.h2 Новости
        span.icon-expose

      div.sidebar_news_item
        div.sidebar_news_date
          span.icon-time
          |30.09.2014
        diiv.sidebar_news_text
          a(href="#") Кожаные полы в бильярдной комнате. Только в Бильярд.ру!

      div.sidebar_news_item
        div.sidebar_news_date
          span.icon-time
          |30.09.2014
        diiv.sidebar_news_text
          a(href="#") Скидки до 40% ! С 31 июля и до тех пор, пока товар есть в наличии. Спешите!

      div.sidebar_news_item
        div.sidebar_news_date
          span.icon-time
          |30.09.2014
        diiv.sidebar_news_text
          a(href="#") Распечатайте купон, придите в магазин и получите скидку в 10%