div.sidebar_menu.dropdown
  span.sidebar_menu_title Каталог товаров
    span.icon
  div.sidebar_menu_dropdown-i
    div.sidebar_menu_dropdown.dropdown_block
        div.dropdown_title
            span Эксклюзив:
        ul.dropdown_menu
            li
                a(href='#') Эксклюзивные столы
            li
                a(href='#') Эксклюзивные кии
            li
                a(href='#') Бильярдные коллекции
            li
                a(href='#') Интерьерные проекты

        div.dropdown_title
            span Все для игры<br>в бильярд:
        ul.dropdown_menu
            li
                a(href="#") Бильярдные столы
            li
                a(href="#") Бильярдные кии
            li
                a(href="#") Бильярдные шары
            li
                a(href="#") Аксессуары для бильярда
            li
                a(href="#") Аксессуары для киёв
            li
                a(href="#") Мебель для бильярдной

