/* Footer Styles */

.page_footer
  background #fff
  padding 40px 0
  box-shadow 0 -5px 10px rgba(#000, 0.1)

.footer_item
  col(3)

  &:last-child
    float right
    margin-right 0

.footer_list
  line-height 40px

.footer_list.mb
  margin-bottom 30px

.footer_logo
  a
    display block
    text-align center

    img
      max-width 100%

.footer_social

  a
    display block
    float left
    margin 0 20px 0 0

  /* Icons */
  .vk
    sprite($vk)
  .fb
    sprite($fb)
  .tw
    sprite($tw)

.footer_devart
  color #bbb

  a
    color orange
    font-weight 700