/* Sidebar's styles
===========================================*/

.page_sidebar-left
  position relative
  col(3)
  +mobile()
    width 100%
    margin 0

/* Sidebar block
====================*/

.sidebar_block
  background #fff
  border-radius 4px
  box-shadow 0 5px 20px rgba(#000, 0.2)
  margin 0 0 20px 0
  padding 20px 0

.sidebar_block_header
  margin 0 0 20px 0
  font 700 14px arial
  padding 0 20px
  color #000
  line-height 36px

  .title
    display inline-block
    vertical-align middle
    line-height 15px

  .icon
    display inline-block
    float left
    vertical-align middle
    margin 0 14px 0 0

.sidebar_block_menu
  li
    height 45px
    line-height @height
  a
    display inline-block
    padding 10px 20px
    line-height 15px
    vertical-align middle

    &:hover
      color blue

  li:hover
    background #e2e8ef

  li.active
    a
      font-weight 700

.sidebar_dropdown
  left 100%
  top -70%
  padding 10px 0
  width 100%

/* Sidebar filter
=======================*/

#sidebar_filter
  margin 0 0 50px 0

.sidebar_filter
  @extends .sidebar_block
  padding 20px

  label
    font-size 14px
    display block

.sidebar_filter_header
  font 700 16px arial
  margin 0 0 25px 0

  .gray
    font-size 14px
    color #bbb
    font-weight 400
    margin 0 0 0 4px

.sidebar_filter_menu

  ul
    list-style inside disc

    li
      color blue
      margin 0 0 20px 0

.sidebar_filter_menu_quan
  color #bbb
  display inline-block
  vertical-align middle
  margin 0 0 0 4px

.sidebar_filter_checkbox
    float left
    margin 0 5px 0 0
    top 2px
    sprite($checkbox_unchecked)

    &.checked
      sprite($checkbox_checked)

.sidebar_filter_price_field
  margin 0 0 15px 0
  cf()
  color #000
  input
    box-shadow inset 0 0 4px rgba(#000, 0.2)
    border-radius 3px
    padding 10px
    width 46%
    color #000
    margin-right 2%
    display inline-block
    position relative

    &:last-child
      margin-right 0

.sidebar_filter_price_range

  #filter-slider
    margin 0 0 20px 0

  a.ui-slider-handle
    top -0.4em
    background none
    sprite($slider-handle)
    border none

    &:focus
      outline none

  .ui-slider-range
    background linear-gradient(to top, #e04747, #ec5959)
    box-shadow inset 0 1px 0px rgba(#000, 0.3)

  .ui-widget-content
    background linear-gradient(to bottom, #b8b8b8, #e6e6e6)
    height 8px
    box-shadow inset 0 1px 0px rgba(#000, 0.3)

  .sidebar_filter_price_range_list
    text-align justify

    &:after
      content ""
      display inline-block
      width 100%
    li
      display inline-block
      color #777
      font-size 12px
      position relative

      &:before
        content ""
        position absolute
        display block
        width 1px
        top -10px
        height 7px
        background #929292

      &:last-child
        &:before
          right 0

      &:nth-child(2)
        &:before
          right 50%


  input
    display none


.sidebar_filter_block
  margin 0 0 30px 0

  .icon
    sprite($filter-block-arrow-down)
    display inline-block
    vertical-align middle

  .icon-filter-block-arrow-right
    sprite($filter-block-arrow-right)



  fieldset
    padding 0
    margin 0
    border none
    // display none

  label
    margin 0 0 15px 0

.sidebar_filter_block_header
  margin 0 0 20px 0
  cursor pointer

.sidebar_filter_block_header_title
  border-bottom 1px dotted #000
  margin 0 0 0 10px

.sidebar_filter_attention
  display block
  margin 0 0 30px 0
  a
    border-bottom 1px dotted blue

    &:hover
      border-bottom 1px dotted orange

.sidebar_filter_reset
  display block

  .icon-filter-reset
    margin 0 10px 0 0
    display inline-block
    sprite($filter-reset)
    vertical-align middle

  .title
    display inline-block
    vertical-align middle
    border-bottom 1px dotted blue
    font-weight 700
    line-height 1

    &:hover
      border-bottom 1px dotted orange

/* Sidebar icons */
.icon-exlusive
  sprite($exlusive)

.icon-greenball
  sprite($greenball)

.icon-tools
  sprite($tools)

.icon-book
  sprite($book)

.icon-expose
  sprite($expose)
  display inline-block
  vertical-align baseline
  margin 0 0 0 12px

.icon-time
  sprite($time)
  display inline-block
  vertical-align middle
  margin 0 10px 0 0


/* Sidebar News
=======================*/

.sidebar_news_block
  padding 20px 0 0 0

.sidebar_news_title
  display block
  margin 0 0 15px 0

.sidebar_news_item
  margin 0 0 40px 0

.sidebar_news_date
  color #bbb
  margin 0 0 6px 0

.sidebar_menu
  cursor pointer

.sidebar_menu_title
  text-align center
  display block
  text-transform uppercase
  margin 0 auto

.sidebar_menu
  background linear-gradient(to top, #e6e6e6, #fff)
  height 50px
  border-radius 4px
  box-shadow 0 1px 1px rgba(#000, 0.4)
  margin 0 0 25px 0
  font 400 14px robotoBold
  line-height 50px

  &:hover
    background linear-gradient(to bottom, #e6e6e6, #fff)
  .dropdown_block
    width 100%

  .icon
    sprite($sidebar-menu-arrow)
    display inline-block
    vertical-align middle
    margin 0 0 0 13px

  .dropdown_title
    background #f4f4f4
    font-weight 700
    height 56px
    padding 0 20px
    line-height 1
    width 100%
    display inline-block
    vertical-align middle

    &:before
      content ""
      display inline-block
      vertical-align middle
      height 100%

    > span
      display inline-block
      vertical-align middle

  .dropdown_menu
    // padding 10px 0

  li
    height 45px
    line-height 45px
    a
      display inline-block
      vertical-align middle
      // height 45px
      line-height 14px

.sidebar_menu_dropdown-i
  padding-top 10px

/* Sidebar discount block
=======================*/

.sidebar_discount_block
  position relative
  @extends .sidebar_filter
  padding 40px 20px 20px 20px
  background url(../img/sidebar_discount_img.jpg) no-repeat
  background-size cover
  background-position center
  color #fff
  text-shadow 0 1px 1px rgba(#000, 0.5)
  font-size 16px

.sidebar_discount_title
  margin 0 0 30px 0
  font 700 27px arial

.sidebar_discount_text
  margin 0 0 30px 0

.sidebar_discount_button
  background rgba(#36221a, 0.7)
  display block
  width 100%
  text-align center
  font-size 14px
  border-radius 4px
  height 40px
  line-height 40px

  > a
    color #fff
    display block

/* Sidebar payment nav
=======================*/

.sidebar_payment_block
  @extends .sidebar_block
  position fixed
  width 100%
  max-width 214px
  padding-bottom 40px
  top 300px

  .sidebar_block_header
    color #bbb
    font 700 14px arial

  .sidebar_payment_menu
    padding 0 0 0 40px

    ul
      margin 0
      padding 0 20px 0 0
      list-style decimal

      li
        color blue
        height 35px
        line-height 20px

        a
          padding 0
          border-bottom 1px dotted blue
          display inline

          &:hover
            border-bottom 1px dotted orange

