extends layout/main

block content
  include blocks/sidebar_catalog

  article.page_content
    include blocks/search
    include blocks/breadcrumbs

    div.page_filter
      h1.h1 Английский снукер
      div.page_filter_body
        div.page_filter_block Класс стола
          div.page_filter_dropdown.dropdown_list.page_filter_type
            span.page_filter_dropdown_label Все
            span.icon-dropdown-list-arrow-down
            div.page_filter_dropdown-i
              ul.page_filter_dropdown_list
                li
                  a(href="/catalog/tables/?type=All") Все
                li
                  a(href="/catalog/tables/?type=Elite") Элитные
                li
                  a(href="/catalog/tables/?type=Wood") Дерево

        div.page_filter_block Цена
          div.page_filter_dropdown.dropdown_list.page_filter_price
            span.page_filter_dropdown_label По возрастанию
            span.icon-dropdown-list-arrow-down
            div.page_filter_dropdown-i
              ul.page_filter_dropdown_list
                li
                  a(href="/catalog/tables/?type=All") Все
                li
                  a(href="/catalog/tables/?type=Elite") Элитные
                li
                  a(href="/catalog/tables/?type=Wood") Дерево

        div.page_filter_block Отображать по
          div.page_filter_dropdown.dropdown_list.page_filter_quan
            span.page_filter_dropdown_label 12
            span.icon-dropdown-list-arrow-down
            div.page_filter_dropdown-i
              ul.page_filter_dropdown_list
                li
                  a(href="/catalog/tables/?type=All") Все
                li
                  a(href="/catalog/tables/?type=Elite") Элитные
                li
                  a(href="/catalog/tables/?type=Wood") Дерево

    div.page_special_grid
      - for (var i = 0; i < 4; i++)
        div.product_item
          div(data-type="exclamation").item_badge.badge_exclamation
            div.item_badge_box
              span.icon
          div.item_title
            a(href="#") Бильярдный стол «Корнет»
          div.item_image
            a(href="#")
              img(src="img/table_1.jpg")
          div.item_price
            |от
            span.bold  47 730
            span.gray  руб.

        div.product_item
          div(data-type="discount").item_badge.badge_discount
            div.item_badge_box
              span.icon
          div.item_title
            a(href="#") Бильярдный стол «Корнет»
          div.item_image
            a(href="#")
              img(src="img/table_2.jpg")
          div.item_price
            |от
            span.bold  47 730
            span.gray  руб.

        div.product_item
          div(data-type="like").item_badge.badge_like
            div.item_badge_box
              span.icon
          div.item_title
            a(href="#") Бильярдный стол «Корнет»
          div.item_image
            a(href="#")
              img(src="img/table_1.jpg")
          div.item_price
            |от
            span.bold  47 730
            span.gray  руб.

    div.page_pagination
      |Страница
      ul.page_pagination_list
        li
          a(href="#").page_pagination_item.active 1
        li
          a(href="#").page_pagination_item 2
        li
          a(href="#").page_pagination_item 3
      |из
      a(href="#").page_pagination_pagecount 6
      a(href="#").page_pagination_nextpage Следующая страница →


    div.page_about
      div.page_section_title
        h1.h1 Английский снукер
      div.page_about_text Английский снукер является, пожалуй, самым популярным и зрелищным видом бильярдной игры. Удовольствие от игры, качество игры, зрелищность и красота игры возможны на соответствующем оборудовании. Наш магазин предлагает Вашему вниманию столы для снукера   российских и зарубежных производителей.  Благодаря постоянно обновляемому каталогу Вы сможете подобрать именно тот стол,
      div.page_about_bottom
        a(href="about.html").page_about_btn.btn
          span Подробнее

