extends layout/main

block content
  div.page_pageup
    span.icon-arrow-up
  div.page_news
    div.page_category
      include blocks/sidebar_menu_dropdown
    div.page_search-i
      include blocks/search
    include blocks/breadcrumbs

  div.page_news_article
    div.page_news_article_header
      div.news_article_header_thumb
        img(src="img/news_image_4.jpg")
      h1.h1 Удары перескоком на бильярде
      span.news_article_date
        span.icon-time
        |30.12.2013
      a(href="#").news_article_tag
        span.icon-tags
        |Практика

    div.page_news_article_body
      p Умение бить перескоком на бильярде становится все более важным в наши дни, особенно для игроков в «девятку». В то время, как хорошие навыки игры от борта и основы массе смогут выручить вас в сложной ситуации, в некоторых случаях переход в «третье измерение» является на самом деле лучшим выходом из ситуации. Данная статья даст вам общее представление о предмете разговора.
      p Бильярдные шары прыгают всегда. Хотя большинство игроков не осознают этого, биток отрывается от поверхности игрового поля практически при каждом ударе. У бильярдного стола есть борта, которые находятся выше, чем игровое поле. Поэтому турняк бильярдного кия всегда в большей или меньшей степени приподнят относительно шафта. Поскольку турняк приподнят, то и удар по битку происходит сверху вниз. Эта направленная вниз сила должна куда-то деваться, однако плита, находящаяся в основании игрового поля под бильярдным сукном не собирается двигаться. Так как биток обладает упругостью (так же, как и сукно), он немного сжимается, а затем разжимается и отскакивает от бильярдного стола под углом, равным углу, под которым ему была передана эта сила.
      p Чем меньше угол, под которым находится ваш бильярдный кий относительно игрового поля, тем ниже прыжок бильярдного шара. Чем больше угол, тем выше прыжок. Чем сильнее удар, тем дальше прыжок. Сам прыжок (перескок) зависит от таких факторов, как: угол наклона кия, сила удара, качество удара и способность кия придать битку заданное движение. Таким образом, чтобы получить высокий и недалекий перескок наносите удар под крутым углом. Чтобы перескок получился еще выше, наносите удар сильнее. Для низкой траектории перескока используйте небольшой угол наклона бильярдного кия. Для невысокого и длинного перескока увеличьте силу удара.
      p Самый простой способ понять, как прыгают бильярдные шары – представить, что вы бросаете биток на стол. Угол и скорость, с которой биток соприкоснется с бильярдным столом, определяет угол и расстояние, на которое он отскочит.
      p Бильярдный кии для перескоков (Jump cue) делаются короткими и легкими по весу, чтобы не повредить светильник над бильярдным столом. Обычно их вес составляет половину веса обычного       p кия, на них используются жесткие наклейки и тонкие шафты. Кии для перескока и разбивки (Jump/break) – это полноразмерные бильярдные кии с дополнительным стыком перед обмоткой,       p чтобы вы могли легко снять заднюю часть турняка. Таким образом, вы получите более короткий и легкий кий. Поскольку кии для перескока и разбивки служат двум целям, приходится       p идти на компромисс. Несмотря на то, что бить перескоком им лучше, чем полным кием, перескок получается не таким качественным, как если бы вы били кием, предназначенным только      p для перескока. Цена на подходящий кий для перескока сегодня начинается от $80. Многие игроки бьют перескоком только при помощи своего шафта. Такая техника работает неплохо, но     p противоречит правилам BCA, множества лиг и турниров. Вы, конечно, можете сделать перескок и обычным кием, но это не так просто. Если вы используете шафт с небольшим сжатием (    p например, Predator), мягкую наклейку, тяжелый биток или тонкое сукно (такое, как Simonis), вам придется столкнутся с трудностями при выполнении перескока.
      p Существует две противоположные техники выполнения перескока – «маятник» и «стрела» (“dart”). Удар «маятник» – это обычный удар для пула, когда кий описывает дугу маятника под      p вашим локтем. Удар «стрела» используется, когда вы вынуждены круто поднять турняк кия и, таким образом, не можете ударить маятником. Он называется «стрела» (“dart”) потому, что      p похож на метание дротиков в дартсе – кий движется непосредственно над локтем. Удар стрелой более труден в исполнении, однако он необходим, когда поблизости есть шар,     p препятствующий вашему удару (скажем ближе, чем 10см.).
      p Вот подсказка, которая вам поможет при выполнении удара маятником. Согните вашу левую руку в локте (если вы бьете правой, и наоборот, если левой) чтобы придвинуться ближе к      p бильярдному шару, держите предплечье вертикально. Попробуйте использовать легкий хват, однако, если с ним удар не получается, используйте хват чуть крепче, чем обычно, и     p представьте вектор силы, проходящий через бильярдный биток.
      p Для удара стрелой постарайтесь встать так, чтобы ваше тело и голова не находились на пути предполагаемового удара и вы могли видеть шафт вашего кия не наклоняя головы. Кий держите       p большим и указательным пальцем по возможности легче с открытой ладонью, направленной по направлению удара. Загните ваш хват так, чтобы запястье отогнулось по направлению удара.      p Держа кисть в таком положении, наносите удар предплечьем, которое в свою очередь, должно находиться в вертикальном положении. Представьте, что вы бьете кием по бильярдному шару      p так же, как если бы вы бросали дротик для дартса, и позвольте кию отскочить от битка. Но только на уровне воображения, не отпускайте кий во время удара. Дополнительно, чтобы     p изучить, как играть методом «стрелы» при помощи кисти, вы можете посетить Интернет-сайт, указанный в конце этой статьи.
      p Касательно всех ударов перескоком - старайтесь бить строго по центру битка или чуть ниже. Если вы ударите ближе к верху шара, вы его зажмете между наклейкой и столом, прыжка,      p соответственно, не получится. Удар слишком высоко – наиболее распространенная ошибка, идущая от неуверенности. Не используйте никаких боковых ударов, если вы только не хотите      p исполнить перескок с массе (обычно не лучшая идея для игры). Как только вы определились с прицеливанием и точкой контакта бильярдного кия с битком,  сконцентрируйте свое внимание на битке вплоть до выполнения удара. Наносите удар уверенно, без боязни испортить сукно.


      div.news_article_pagination
        div.news_article_pagination_left
          div.news_article_pagination_left_icon
            a(href="#")
          div.news_article_pagination_left-i
            div.news_article_pagination_title Предыдущая статья
            div.news_article_pagination_link
              a(href="#") Дик Ясперс. Побеждает тот, у кого крепче нервы

        div.news_article_pagination_right
          div.news_article_pagination_right_icon
            a(href="#")
          div.news_article_pagination_right-i
            div.news_article_pagination_title Следующая статья
            div.news_article_pagination_link
              a(href="#") Что такое кий?

