extends layout/main

block content
  div.page_news
    div.page_category
      include blocks/sidebar_menu_dropdown
    div.page_search-i
      include blocks/search
    include blocks/breadcrumbs
    div.page_news_header
      h1.h1 Статьи
    div.page_news_tags
      |Показывать
      a(href="#").news_tags_active Все статьи
      |  , или по категориям:
      a(href="#").news_tags_item оборудование
      a(href="#").news_tags_item правила и теория
      a(href="#").news_tags_item практика
      a(href="#").news_tags_item персоны бильярда

    div.page_news_list
      div.page_news_item
        div.page_news_item-i
          div.news_item_image
            a(href="#")
              img(src="img/news_image_1.jpg")
          div.news_item_desc
            div.news_item_header
              a(href="#") Дик Ясперс. Побеждает тот, у кого крепче нервы
            div.news_item_subheader
              span.news_item_date
                span.icon-time
                |30.12.2013
              span.news_item_tag
                span.icon-tags
                a(href="#") Персоны бильярда
            div.news_item_text Его именем названы некоторые модели столов для карамболя фирмы «Эурика» и модель кия от «Лонгони». Его спонсирует всемирно известные фирмы, такие как «Минолта» и «ИванСимонис». И их деньги с лихвой возвращаются благодаря совершенно фантастическим победам этого бильярдиста. Полный список всех его достижений в личном и командном зачете занял бы целый лист, поэтому приведу лишь самые яркие эпизоды из его карамбольной биографии: Победитель Кубка Мира 1997 и 1999 годов, Чемпион Мира 2000 года, девятикратный победитель международных турниров серии «Гран При» и прочая, прочая…

      div.page_news_item
        div.page_news_item-i
          div.news_item_image
            a(href="#")
              img(src="img/news_image_2.jpg")
          div.news_item_desc
            div.news_item_header
              a(href="#") Натяжка сукна, или как одевают бильярдные столы?
            div.news_item_subheader
              span.news_item_date
                span.icon-time
                |30.12.2013
              span.news_item_tag
                span.icon-tags
                a(href="#") Персоны бильярда
            div.news_item_text Мы уже рассказывали в одном из номеров журнала, как важно подобрать кий для игры. И пришли к мнению, что этот «инструмент» играет не последнюю роль, а, возможно, решающую. Но, согласитесь, качество стола тоже не последнее дело. Попробуй-ка сыграть на столе из ДСП, как играют в регионах, например на Сахалине. Поэтому, чтобы внести ясность, мы решили обратиться к профессионалу и попросили рассказать его о сукне для бильярдного стола и его главных характеристиках и особенностяхКубка Мира 1997 и 1999 годов, Чемпион Мира 2000 года, девятикратный победитель международных турниров серии «Гран При» и прочая, прочая…

      div.page_pagination
        |Страница
        ul.page_pagination_list
          li
            a(href="#").page_pagination_item.active 1
          li
            a(href="#").page_pagination_item 2
          li
            a(href="#").page_pagination_item 3
        |из
        a(href="#").page_pagination_pagecount 6
        a(href="#").page_pagination_nextpage Следующая страница →
