extends layout/main

block content
  aside.page_sidebar-left
      include blocks/sidebar_menu_dropdown

      div.sidebar_payment_block
        div.sidebar_block_header
          span.title Быстрая навигация
        div.sidebar_payment_menu
          ul
            li
              a(href="#payment") Оплата
            li
              a(href="#delivery") Доставка
            li
              a(href="#delivery-status") Сроки доставки и статусы показа

  article.page_content
    include blocks/search
    include blocks/breadcrumbs

    div.page_article
      div.page_article-i
        div#payment
        h1.h1 Оплата и доставка
        h3.h3 Оплата
      ul.article_list
        li.article_list_item
          div.article_item_icon
            span.icon-wallet
          div.article_item_desc
            span.article_text-bold Наличными курьеру
            |  — расчёт производится в рублях при получении товара с предоставлением платёжных документов – товарная накладная и чек (только по Москве и Московской области)
        li.article_list_item
          div.article_item_icon
            img(src="img/sberbank_logo.png")
          div.article_item_desc
            span.article_text-bold Квитанция Сбербанка России
            |  — заполненный бланк квитанции для оплаты формируется в личном кабинете после подтверждения заказа. При оплате квитанции возможна комиссия взымаемая самим банком
        li.article_list_item
          div.article_item_icon
            span.icon-card
          div.article_item_desc
            span.article_text-bold Электронные деньги
            span.text-blue  *
            div.bold (Яндекс.Деньги, QIWI Кошелёк, WebMoney, VISA, MasterCard, DCI)
            div.text-red В настоящее время система отключена
            span.article_item_text Оплата данными платёжными система происходит после подтверждения заказа и присвоения ему менеджерами интернет-магазина статуса "Принят, ожидается оплата". Информация о снятии денежных средств с Вашего счёта будет выслана информационным письмо на электронную почту, указанную при формировании заказа 

      div.page_article-i
        div#delivery
        h3.h3 Доставка
        span.text-bold Доставка киев стоимостью от 8000 рублей по России осуществляется бесплатно!
        p На все кии распространяется гарантия один год. Кии перед отгрузкой проверяются, тестируются опытными игроками, бесплатно упаковываются в жесткий герметичный тубус, исключающий повреждения при транспортировке. К каждому кию прилагается паспорт. Доставка осуществляется «EMS - Почта России».
      ul.article_list
        li.article_list_item
          div.article_item_icon
            span.icon-postman
          div.article_item_desc
            span.article_text-bold Курьером
            |  (только по Москве и Московской области) – доставка курьером интернет-магазина
            |осуществляется на следующих условиях:

      div.page_article-i
        p Доставка курьером в пределах Москвы стоит 300 рублей.<br/>Доставка оплачивается наличными курьеру.<br/>Доставка стоимостью выше 5000 рублей осуществляется <span class="text-bold">бесплатно в пределах МКАД</span>.<br/>Доставка курьером в Московскую область (за МКАД) из расчёта – 1 км – 50 рублей<br/>Доставка бильярдных столов заказанных через интернет-магазин осуществляется — <span class="text-bold">в пределах 50 км. от МКАД БЕСПЛАТНО, далее – 1 км – 50 рублей.</span><br/>Бильярдные столы размером более 5 (пяти) футов доставляются при 100% предоплате.</br>Доставка осуществляется до подъезда. Такелажные работы оплачиваются дополнительно. Стоимость услуг уточняйте у наших менеджеров.
        div.article_alert
          span.text-bold ВНИМАНИЕ!
          |  При заказе на сумму больше 30 000 рублей доставка курьером осуществляется только после предварительной оплаты заказа квитанцией Сбербанка России или любой из платёжных систем.
        p Доставка курьером по Москве и Московской области осуществляется в рабочие дни. При отправке заказа менеджерам интернет-магазина до 12.00 - доставка возможна на следующий день, если после 12.00 - доставка возможна через день. О точном времени доставки сообщит менеджер интернет-магазина.
      ul.article_list
        li.article_list_item
          div.article_item_icon
            span.icon-delivery
          div.article_item_desc
            span.article_text-bold Самовывоз
            |  – из нашего магазина по адресу ул.Нижняя Масловка, д.6, корп. 1
        li.article_list_item
          div.article_item_icon
            img(src="img/ems_logo.png")
          div.article_item_desc
            span.article_text-bold EMC Почта России
            |  – стоимость доставки считается автоматически при формирование заказа. Стоимость доставки включается в итоговую сумму и оплачивается в соответствии с условиями оплаты интернет-магазина
        li.article_list_item
          div.article_item_icon
            span.icon-truck
          div.article_item_desc
            span.article_text-bold Другие транспортные компании
            |  – мы готовы доставить Вам оплаченный товар любой транспортной компанией, но только  после согласования с менеджером интернет-магазина формы оплаты и отгрузки товара

      div.page_article-i
        div#delivery-status
        h3.h3 Срок доставки статусы заказа
        p После сформированного и отправленного нашим менеджерам заказа - ему присваивается один из следующих статусов:

      div.page_article-i
        ul.article_list
          li.article_list_item
            span.article_text-bold Сформирован, ожидается подтверждение
            |  – заказ отправлен менеджеру магазина на подтверждение наличия, происходит его формирование. Заказ подтверждается менеджером магазина при полном наличии всех товаров в течение одного рабочего дня. Если в заказе есть товар "На заказ", то менеджер интернет-магазина свяжется с покупателем и проконсультирует его  о данном товаре - сообщит его точную стоимость и возможные сроки доставки. По умолчанию для таких товаров - "На заказ", на сайте стоит цена - 0 рублей. При согласовании цены товара "На заказ" и сроков доставки с покупателем - менеджер магазина в заказ покупателя вносит соответствующие изменения и выставляет заказу статус "Принят, ожидается оплата"

          li.article_list_item
            span.article_text-bold Принят, ожидается оплата
            |  — статус появляется после того как заказ сформирован и выставлен в резерв. Вместе со статусом в теле самого заказа в личном кабинете клиента появляется кнопка «Оплатить» или «Квитанция», в зависимости от типа выбранного платежа. Статус «Принят, ожидается оплата» активен в течение трёх дней после его выставления менеджером магазина. Если оплата не была произведена в трёхдневный срок – заказ получает статус «Отменён». Для повторного заказа клиенту необходимо протий процедуру набора товара в корзину и его оформление снова или связаться с менеджером магазина

          li.article_list_item
            span.article_text-bold Оплачен, формируется к отправке
            |  — статус появляется с поступлением денежных средств на счёт магазина от покупателя. С присвоением заказу данного статуса производится отгрузка товара - курьеру или транспортной компании в течение одного рабочего дня

          li.article_list_item
            span.article_text-bold Отправлен
            |  — статус присваивается заказу по факту передачи товара транспортной компании, с получением от неё номера транспортной накладной, которой указывается в Личном кабинете покупателя в разделе "Мои заказы". Дополнительно высылается письмо с данной информацией на электронную почту, указанную в личных данных покупателя. Также статус «Отправлен» присваивается менеджером магазина по факту доставки товара курьером по Москве и Московской области

          li.article_list_item
            span.article_text-bold Отменён 
            |  — статус присваивается заказу, если срок его резервирования после получения статуса «Принят, ожидается оплата» превысил трёхдневный период; заказу присваивается статус «Отменён» после его оплаты по желанию покупателя. Статус выставляет менеджер магазина. Для этого покупателю необходимо связаться с менеджером магазина. Если собранный заказ, на момент обращения покупателя, не был отгружен со склада, то он расформировывается, а деньги возвращаются на счёт покупателя после предоставления им заявления об отказе. Если же заказ уже был отправлен, то с покупателя будут удержаны затраты на его доставку до покупателя и обратно; статус «Отменён» может быть присвоен заказу, если данной позиции не оказалось на складе. Покупателю будет выслано информационное письмо

      div.article_assist
        div.article_item_icon
          img(src="img/assist_logo.png")
        div.article_item_desc * Все платежи системами Яндекс.Деньги, QIWI Кошелёк, WebMoney, VISA, MasterCard, DCI производятся на сайте www.billiard.ru посредствам провайдера электронных систем Assist (www.assist.ru), который обеспечивает безопасность передаваемой информации от несанкционированного доступа на этапе передачи от покупателя на сервер системы Assist используя протокол SSL 3.0.
      ul.article_list
        li.article_list_item
          div.article_item_icon
            span.icon-post-phone
          div.article_item_desc У вас возникли дополнительные вопросы? Наши менеджеры Вам помогут по телефону <span class="bold">+7 (495) 685-19-19</span>


